#sayt
{
    width: 100%;
    display: flex;
    flex-direction: column;

}
#logo
{
    /*flex-grow: 1;*/
    background-color: rgb(64,78,103);
}
#cabinet
{
    /*flex-grow: 7;*/
    background-color: #fff
}